{{extend 'layout.html'}}



{{=H1('Manage blogs')}}

<p>The table below links to all <strong>approved</strong> blog posts. Admin members can edit all blog posts although it is probably polite to let the authors know!</p>

<p>Admin members can also hide blogs from public view by following the edit link and checking the box 'Remove blog from public view'. This is primarily for removing out of date blogs as approval of the content is handled via the blog approval links. Again it is probably polite to let an author know that you've hidden their post.</p>


<br>

{{=form}}

<br>