{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}


<h2>The SAFE Database API</h2>

<div class="alert alert-info" role="alert">
This is the first version of the API, released 2019-05-23. It may contain bugs and/or you may want additional endpoints or query options. In either case, contact <a href="mailto:d.orme@imperial.ac.uk">David Orme</a>.
</div>

<p>We maintain a database of research data collected at the SAFE Project. Datasets submitted to SAFE are 
	validated and then published through our community page at the <a href='https://zenodo.org/communities/safe'>
	Zenodo data repository</a>. The basic summary metadata is provided here and on the Zenodo records and
	is searchable through Zenodo and other data indexing sites, but we also provide an API providing finer level
	dataset indexing.</p>

<p>The root URL for the API is shown below - the bare URL redirects to this API description.</p>

<pre>{{=URL('api', host=True, scheme=True)}}</pre>

<p>We provide a number of search endpoints with a range of query options and these are described below. The
	following example shows the API use and the format of the JSON data returned.</p>
	
<pre>{{=URL('api', args='taxa', vars={'name': 'Formicidae'}, host=True, scheme=True)}}</pre>
	

<pre>
{
	"count": 8,
	"entries": [
		{
			"zenodo_concept_id": 1198301,
			"zenodo_record_id": 1198302,
			"dataset_title": "The role of competition in structuring ant community composition across a tropical forest disturbance gradient"
		},
		...
		{
			"zenodo_concept_id": 1995247,
			"zenodo_record_id": 1995439,
			"dataset_title": "Functional diversity of amphibian assemblages along a disturbance gradient"
		}
	]
}</pre>

<p>The datasets all have a unique zenodo record id (<code>zenodo_record_id</code>), but different versions of the same dataset 
	are all grouped together under the a concept id (<code>zenodo_concept_id</code>). </p>

<h3>Global options</h3>

<p>In addition to their own query options, all of the endpoints described below also accept the following global options</p>

<h4><code>most_recent</code></h4>

<p>Adding this flag to the query string will restrict the API to returning only the most recent version of a dataset.</p>

<pre>{{=URL('api', args='taxa', vars={'name': 'Formicidae', 'most_recent': ''}, host=True, scheme=True)}}</pre>


<h4><code>ids</code></h4>

<p>This option allows the user to restrict the search to particular dataset records, using <code>zenodo_record_id</code> 
	values, allowing API calls to refine previous searches.</p>

<pre>{{=URL('api', args='taxa', vars={'name': 'Formicidae', 'ids': [1198302,1995439]}, host=True, scheme=True)}}</pre>

<h3>Endpoints</h3>

{{=docs}}