{{extend 'layout.html'}}


<style>
td {
    padding: 5px 20px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
</style>

{{=H3('My SAFE')}}
<p>This page allows you to quickly see projects, outputs and research visits of which you are a member and any volunteering, project help requests or blog posts you have created. Use the tabs below to switch between options.</p>
<br>

{{=grids}}

<br>
