{{extend 'layout.html'}}

<h1 style='text-align:center;color:#538135'>Science@SAFE 2020</h1>

<p>The Stability of Altered Forest Ecosystems Project has been
running for ten years with generous support from the Sime Darby Foundation. The
Science@SAFE 2020 virtual conference will bring together the science and
achievements of the past ten years. We will look at our impacts, capacity
building, new technologies, carbon and how this project has improved our understanding
of oil palm dominated landscapes and the resilience of Borneo's forest
ecosystem.</p>

<p>The Science@SAFE 2020 conference will be hosted online on <b>Monday
14<sup>th</sup> December</b> 2020 at 8am-12pm UK time/4pm-8pm Malaysian time.</p>

<p>All are welcome to attend this free event. More details to
follow. </p>





