{{extend 'layout.html'}}

<h1 style='text-align:center;color:#538135'>Science@SAFE 2020</h1>

<p>The Stability of Altered Forest Ecosystems Project has been
running for ten years with generous support from the Sime Darby Foundation. The
Science@SAFE 2020 virtual conference will bring together the science and
achievements of the past ten years. We will look at our impacts, capacity
building, new technologies, carbon and how this project has improved our understanding
of oil palm dominated landscapes and the resilience of Borneo's forest
ecosystem.</p>

<p>The Science@SAFE 2020 conference will be hosted online on <b>Monday
14<sup>th</sup> December</b> 2020 at 8am-12pm UK time/4pm-8pm Malaysian time.</p>

<h2> Registration </h2>

<p>Please visit the link below to register for the virtual conference:</p>


<a href='https://www.eventbrite.com/e/sciencesafe-2020-tickets-128752759971'>https://www.eventbrite.com/e/sciencesafe-2020-tickets-128752759971</a>


<h2> Agenda </h2>

<table class=MsoTable15Grid4Accent6 border=1 cellspacing=0 cellpadding=0
 width=671 style='width:503.0pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #70AD47 1.0pt;
  border-right:none;background:#70AD47;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 align=center style='text-align:center;line-height:normal'><b><span
  style='color:black'>When</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:solid #70AD47 1.0pt;
  border-left:none;border-bottom:solid #70AD47 1.0pt;border-right:none;
  background:#70AD47;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 align=center style='text-align:center;line-height:normal'><b><span
  style='color:black'>What</span></b></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border:solid #70AD47 1.0pt;
  border-left:none;background:#70AD47;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 align=center style='text-align:center;line-height:normal'><b><span
  style='color:black'>Who</span></b></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>8:00</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Welcome</span></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Glen
  Reynolds &amp; Sui Peng Heon</span></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>8:05</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Introduction</span></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>tbc</span></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>8:10</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>SAFE
  in the scientific landscape</span></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Charles
  Godfray</span></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>8:15</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Connecting
  science to policy</span></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Melissa
  Payne</span></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>8:30</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Investing
  in people</span></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Kalsum
  Yusah</span></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>8:45</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>The
  ecology of oil palm plantations</span></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Eleanor
  Slade</span></h4>
  </td>
 </tr>
 <tr style='height:22.65pt'>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;background:#70AD47;padding:0cm 5.4pt 0cm 5.4pt;height:22.65pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>9:00</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#70AD47;padding:0cm 5.4pt 0cm 5.4pt;height:22.65pt'>
  <h4 align=center style='text-align:center;line-height:normal'><b><span
  style='color:black'>Break</span></b></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#70AD47;padding:0cm 5.4pt 0cm 5.4pt;height:22.65pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>&nbsp;</span></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>9:20</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Carbon
  dynamics in human-modified landscapes</span></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Terhi
  Riutta</span></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>9:35</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Developing
  and applying new technology</span></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Rob
  Ewers</span></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>9:50</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Rainforest
  resilience</span></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Louise
  Ashton</span></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>10:05</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Wrap
  up</span></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>&nbsp;</span></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;background:#70AD47;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>10:10</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#70AD47;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 align=center style='text-align:center;line-height:normal'><b><span
  style='color:black'>Break</span></b></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#70AD47;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>&nbsp;</span></h4>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>10:30</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Break
  out Groups</span></h4>
  <p class=MsoListParagraphCxSpFirst style='margin-top:0cm;margin-right:0cm;
  margin-bottom:0cm;margin-left:21.0pt;text-indent:-18.0pt;line-height:normal'><span
  style='font-family:"Calibri Light",sans-serif'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><i><span style='color:black'>Hydrology</span></i></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
  margin-bottom:0cm;margin-left:21.0pt;text-indent:-18.0pt;line-height:normal'><span
  style='font-family:"Calibri Light",sans-serif'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><i><span style='color:black'>Conservation and forest
  restoration</span></i></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
  margin-bottom:0cm;margin-left:21.0pt;text-indent:-18.0pt;line-height:normal'><span
  style='font-family:"Calibri Light",sans-serif'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><i><span style='color:black'>Biodiversity</span></i></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
  margin-bottom:0cm;margin-left:21.0pt;text-indent:-18.0pt;line-height:normal'><span
  style='font-family:"Calibri Light",sans-serif'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><i><span style='color:black'>Carbon</span></i></p>
  <p class=MsoListParagraphCxSpLast style='margin-top:0cm;margin-right:0cm;
  margin-bottom:0cm;margin-left:21.0pt;text-indent:-18.0pt;line-height:normal'><span
  style='font-family:"Calibri Light",sans-serif'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><i><span style='color:black'>Skills gaps</span></i></p>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  background:#E2EFD9;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>&nbsp;</span></h4>
  <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
  style='color:black'>Anand Niar &amp; Kawi Bidin </span></p>
  <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
  style='color:black'>Hamza Tangki &amp; Glen Reynolds</span></p>
  <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
  style='color:black'>Nichar Gregory &amp; Indra Vythilingam</span></p>
  <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
  style='color:black'>Noreen Majalap &amp; Terhi Riutta</span></p>
  <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
  style='color:black'>Kalsum Yusah &amp; Rob Ewers</span></p>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;border:solid #A8D08D 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><b><span style='font-size:12.0pt;color:black'>11:00</span></b></h4>
  </td>
  <td width=335 valign=top style='width:251.05pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Final
  word</span></h4>
  </td>
  <td width=270 valign=top style='width:202.45pt;border-top:none;border-left:
  none;border-bottom:solid #A8D08D 1.0pt;border-right:solid #A8D08D 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h4 style='line-height:normal'><span style='font-size:12.0pt;color:black'>Rob
  Ewers &amp; Glen Reynolds</span></h4>
  </td>
 </tr>
</table>

</br>


