{{extend 'layout.html'}}

<h1>Science at SAFE</h1>

<p>We are holding a Science at SAFE meeting at Imperial College London, Silwood Park Campus from the 27th - 29th March 2019. The overarching aims for the meeting will be:</p>

<ul>
	<li> 
		to summarise the research done so far at SAFE, 
	</li>
	<li>
		to review how that research covers the major components of tropical forest ecosystems, and
	</li>
	<li>
		to identify gaps and opportunities for future research.
	</li>
</ul>

<img src="static/images/SAFE_Pano_blended_fused.jpg" width="100%" alt="SAFE Pano Blended Fused">


<h3>Research presentations</h3>

<p>On Wednesday 27th March, we will hold four sessions of five talks (10 minute talks with 2 minutes for questions). We have a preference for talks that will provide an overview of research in a particular area, but proposals for talks on any research at SAFE are welcomed. Poster boards will be available and we will have a poster session during the day.</p>

<p>We aim for a balance of early-career and established researchers in these presentations.</p>

<h3>Research workshops</h3>

<p>Thursday 28th (all day) and Friday 29th (morning only)  will be devoted to research workshops and we invite proposals for workshop topics. We have a preference for holistic topics that aim to establish what is known about broad components of the tropical forest ecosystem and what the data and research priorities are for gaps in our understanding.</p>

<p>We initially propose the following ecosystem components &mdash; topic proposals that set out where and why our knowledge, understanding and/or data are partially or utterly flawed are equally welcome:
</p>

<ul>
<li>Climate and microclimate</li>
<li>Hydrology</li>
<li>Biogeochemical cycling</li>
<li>Soil processes</li>
<li>Stoichiometry</li>
<li>Primary production</li>
<li>Decomposition processes</li>
<li>Terrestrial animal responses</li>
<li>Aquatic animal responses</li>
<li>Trophic structure</li>
</ul>

<h3>Data workshops</h3>

<p>Throughout the meeting, we will be providing support for researchers who are preparing to submit data collected at SAFE into our <a href='https://zenodo.org/communities/safe'>dataset repository</a>. If you have data to submit, there will never be a better opportunity to get help in cleaning and formatting your data!</p>

<p>We will also be demonstrating prototype tools for accessing the data repository and linking datasets across research projects at SAFE.</p>

<h3>Social Evening and Film Night</h3>

<p>On Thursday evening, we will be holding a social evening with beers, pizza and a screening of the SAFE documentary Fragmented, presented by the film-maker <a href='http://www.elliemackay.com/'>Ellie MacKay</a>.</p>

<h3>Registration and proposals</h3>

<p>To register your interest in the meeting, please email Olivia Daniel (<a href='mailto:info@safeproject.net'>info@safeproject.net</a>). If you would like to present a poster or talk at the meeting please include a title and a 200 word abstract in your message. Please tell us if you are an early career researcher and/or if you will be representing a wider group of researchers. If you have a proposal for a workshop topic, please also provide a title and abstract, along with suggestions of other researchers who you would like to participate.
</p>

<p>
	The deadline for registration is Friday 1st March.
</p>

<h3>Cost</h3>

<p>There will be an attendance charge for the whole meeting of £40 to cover the costs of refreshments and the like, with a discounted rate for students of £20.</p>

