{{extend 'layout.html'}}

<h1 style='text-align:center;color:#538135'>Science@SAFE 2020</h1>

<p>The Stability of Altered Forest Ecosystems Project has been
running for ten years with generous support from the Sime Darby Foundation. The
Science@SAFE 2020 virtual conference will bring together the science and
achievements of the past ten years. We will look at our impacts, capacity
building, new technologies, carbon and how this project has improved our understanding
of oil palm dominated landscapes and the resilience of Borneo's forest
ecosystem.</p>

<p>The Science@SAFE 2020 conference will be hosted online on <b>Monday
14<sup>th</sup> December</b> 2020 at 8am-12pm UK time/4pm-8pm Malaysian time.</p>

<h2> Registration </h2>

<p>Please visit the link below to register for the virtual conference:</p>


<a href='https://www.eventbrite.com/e/sciencesafe-2020-tickets-128752759971'>https://www.eventbrite.com/e/sciencesafe-2020-tickets-128752759971</a>


<h2> Agenda </h2>

<style>
   table, th, td {
    	border: 1px solid #70AD47;
		border-collapse: collapse;
		padding: 0px 10px;

    }
	.bar td, th {
		background-color: #70AD47;
		text-align: center;
		font-weight: bolder;
	}
</style>

<table>
<tr class='bar'><th colspan=2>When</th><th>What</th><th>Who</th></tr>
<tr class='bar'><td>UK</td><td>MY</td><td></td><td></td></tr>
<tr><td>8:00</td><td>16:00</td><td>Welcome</td><td>Glen Reynolds & Sui Peng Heon</td></tr>
<tr><td>8:05</td><td>16:05</td><td>Introduction to the industry</td><td>M.R. Chandran</td></tr>
<tr><td>8:10</td><td>16:10</td><td>Yayasan Sime Darby</td><td>Caroline Russell</td></tr>
<tr><td>8:15</td><td>16:15</td><td>SAFE in the scientific landscape</td><td>Charles Godfray</td></tr>
<tr><td>8:30</td><td>16:30</td><td>Connecting science to policy</td><td>Melissa Payne</td></tr>
<tr><td>8:45</td><td>16:45</td><td>Investing in people</td><td>Kalsum Yusah</td></tr>
<tr><td>9:00</td><td>17:00</td><td>The ecology of oil palm plantations</td><td>Eleanor Slade</td></tr>
<tr class='bar'><td>9:15</td><td>17:15</td><td colspan=2>Break</td></tr>
<tr><td>9:30</td><td>17:30</td><td>Carbon dynamics in human-modified landscapes</td><td>Terhi Riutta</td></tr>
<tr><td>9:45</td><td>17:45</td><td>Developing and applying new technology</td><td>Rob Ewers</td></tr>
<tr><td>10:00</td><td>18:00</td><td>Rainforest resilience</td><td>Louise Ashton</td></tr>
<tr><td>10:15</td><td>18:15</td><td>Wrap up</td><td>Sui Peng Heon</td></tr>
<tr class='bar'><td>10:20</td><td>18:20</td><td colspan=2>Break</td></tr>
<tr><td>10:40</td><td>18:40</td><td colspan=2>Break out Groups</td></tr>
<tr><td></td><td></td><td>- <em>Hydrology</em></td><td>Anand Nainar & Kawi Bidin </td></tr>
<tr><td></td><td></td><td>- <em>Conservation and forest restoration</em></td><td>Hamzah Tangki & Glen Reynolds</td></tr>
<tr><td></td><td></td><td>- <em>Biodiversity</em></td><td>Henry Bernard & Adam Sharp</td></tr>
<tr><td></td><td></td><td>- <em>Disease Ecology</em></td><td>Nichar Gregory & Indra Vythilingam</td></tr>
<tr><td></td><td></td><td>- <em>Carbon</em></td><td>Noreen Majalap & Terhi Riutta</td></tr>
<tr><td></td><td></td><td>-<em> Skills gaps</em></td><td>Kalsum Yusah & Rob Ewers</td></tr>
<tr><td>11:10</td><td>19:10</td><td>Final word</td><td>Rob Ewers & Glen Reynolds</td></tr>
</table>

</br>


