{{extend 'layout.html'}}

<h2>
{{=T('Sign Up') if request.args(0) == 'register' else T('Log In') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}
</h2>

{{if request.args(0) == 'register':}}
{{=P('You will need to register and log in to use this website to propose and arrange research at SAFE. We do screen new registrations so there will be a delay before your registration is confirmed and you are able to log in.') + P('The website will use your email address as your login name.') + P('If you have worked at SAFE before and are registering to use the new site, then you will probably already have an account. Try looking for yourself in the researchers list ', A('here', _href=URL('people','users')), '. If you ', B('are'), ' already registered, then ', A('request a new password', _href=URL('user','request_reset_password')), '. If this does not work, you may be registered under an old email address: ', A('email us', _href='mailto:info@safeproject.net'), ' and we will update your email so that all your research at SAFE can be linked to the same account.') +BR()}}
{{elif request.args(0) == 'impersonate':}}
{{=P('Administrators can use this page to impersonate another user - you will need to look up their user id and then enter it here. This will allow you to take actions as if you were logged in as this user. A banner at the top of the page will warn you when you are impersonating another user and provide a link to return to your own login.') + P('Please do use this option carefully and with respect. It is rare that you would need to make a change like this - typically you will only need to use this when we have lost contact with a user and need to update content that they own.') + BR()}}
{{else:}}
{{pass}}


<div class="container">
    <div class="row">
        <div id="web2py_user_form" class="col-lg-6">
        {{
        if request.args(0)=='login':
            if not 'register' in auth.settings.actions_disabled:
                form.add_button(T('Sign Up'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn btn-default')
            pass
            if not 'request_reset_password' in auth.settings.actions_disabled:
                form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn btn-default')
            pass
        pass
        =form
        }}
        </div>
    </div>
</div>


{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end page_js}}
