{{extend 'layout.html'}}

<div class="flash">{{=response.flash or session.flash or ' '}}</div>

{{=H2('Manage species profiles')}}

<p>The list below shows the current set of species profiles. Follow the links to update existing profiles or add a new species. Do remember that <strong>any content will immediately be seen live on the internet</strong>!</p>

<p>The species image fields are currently a bit odd - all the profiles on the previous site were illustrated with links to external image sites (mostly Flickr), so you  will need to provide a link to the image page (photo profile), a direct link to the image itself, and some kind of attribution as a title. Many of the current images may be used without permission.</p>


<br>

{{=form}}


<br>