{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<!-- Yes, yes, I've redefined css locally, I know that is bad but I'm implementing function -->
<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
</style>

<!--Insert a consistently styled back button to return to the grid view-->
{{= A(SPAN('',_class="icon leftarrow icon-arrow-left glyphicon glyphicon-arrow-left"),
      SPAN('Back', _class="buttontext button"),
      _class="button btn btn-default", 
      _href=URL("species","species", user_signature=True),
      _style='padding: 3px 5px 3px 5px;')}}

{{=content}}