# ignore error reports
errors/

# ignore session details
sessions/

# ignore database definitions
databases/

# mac folder junk
.DS_Store

# byte compliled python
*.pyc

# ignore the appconfig.ini, which needs to be different on production 
# and development servers, so isn't under version control
private/appconfig.ini
