requests==2.24.0
openpyxl==2.6.4
xlrd==1.2.0
safedata_validator==1.2.6
Shapely==1.7.0
html2text==2019.8.11
simplejson==3.17.0
fileutils==0.2.2
fs==2.4.11
lxml==4.6.2
python_dateutil==2.8.1
gpxpy
psycopg2
gpxpy