{{extend 'layout.html'}}

<div class="flash">{{=response.flash}}</div>

{{=STYLE('td {padding: 5px 20px;}')}}

{{=H3("Bed reservation details")}}


<!-- Compile a header depending on whether this a look see or project reservation-->
{{if visit_record is not None:}}
{{    hdr = [TR(TD('This reservation is associated with a project visit', _COLSPAN='2')),
	  TR(TD(B('Project')), TD(visit_record.project_id.title)),
	  TR(TD(B('Research visit')), TD(visit_record.title))]}}
{{else:}}
{{    hdr = [TR(TD("This reservation is for an evaluation ('look see') visit", _COLSPAN='2'))]}}
{{pass}}

<!-- Compile a set of rows for current members and insert a title-->
{{memb_rows = [TR(TD(),TD(r.user_id.last_name, ', ', r.user_id.first_name)) for r in reservation_members]}}
{{memb_rows[0][0] = TD(B('Beds reserved for'))}}

{{=TABLE(hdr,
         TR(TD(B('Reservation dates')),TD(reservation_record.arrival_date, ' to ', reservation_record.departure_date)),
         TR(TD(B('Purpose')),TD(reservation_record.purpose)),
         TR(TD(B('Approval status')),TD(reservation_record.admin_status)),
	 memb_rows
	 )}}

<br>
{{if form is not None:}}
{{=P('You are a member of this project and have permission to add project members to this visit')}}
{{=form}}
{{pass}}
<br>