{{extend 'layout.html'}}

<div class="flash">{{=response.flash}}</div>

{{=STYLE('td {padding: 5px 20px;}')}}

{{=H3("Research visit details")}}


<!-- Compile a set of rows for current members and insert a title-->
{{memb_rows = [TR(TD(),TD(r.user_id.last_name, ', ', r.user_id.first_name)) for r in visit_members]}}
{{memb_rows[0][0] = TD(B('Visit members'))}}

{{=TABLE(TR(TD(B('Project')),TD(visit_record.project_id.title)),
         TR(TD(B('Visit name')),TD(visit_record.title)),
         TR(TD(B('Dates')),TD(visit_record.arrival_date, ' to ', visit_record.departure_date)),
         TR(TD(B('Purpose')),TD(visit_record.purpose)),
         TR(TD(B('Approval status')),TD(visit_record.admin_status)),
	 memb_rows
	 )}}

<br>
{{if form is not None:}}
{{=P('You are a member of this project and have permission to add project members to this visit')}}
{{=form}}
{{pass}}
<br>