{{extend 'layout.html'}}

{{=H2('Create late research visit')}}


<p>This form allows administrators to create late research visit proposals. </p>

<p>If an administrator simply creates a proposal using the usual form for a project, then the administrator 'owns' that proposal and all the emails about it will come to them and not the researcher that the visit is for. This form allows you to set the visit proposer for the basic research visit proposal so that they will own the visit and see any emails about it.</p>

<p>Note that this only creates the basic proposal. For late visits, you will probably now need to look this up on the research visit details page so that you can add any booking details</p>
{{=BR()}}

{{=visit}}
