{{extend 'layout.html'}}

<div class="flash">{{=response.flash or session.flash or ' '}}</div>

{{=H2('Submit a research visit proposal')}}

<p>Research visit proposals allow us to coordinate research across the SAFE landscape. You might not be working at the SAFE site for all of the visit (or even at all!) but if you are doing SAFE-related research in the field then you must let us know and get approval before your visit.</p>

<p>If you want to book accomodation at SAFE for all or part of your visit, you must submit a research visit and get it approved.</p>

{{if message is not None:}}
{{=message}}
{{else:}}
{{=form}}
{{pass}}