{{extend 'layout.html'}}

<div class="flash">{{=response.flash}}</div>

{{=STYLE('td {padding: 5px 20px;}')}}

<!--Page header, depending on the readonly state and whether it is a new project-->

{{if record is None:}}
{{=H2('New Research Visit submission')}}
{{=P('Please use the form below to submit a new research visit proposal to the SAFE project or to update your proposal. Your proposal will first be screened by an administrator. You will get an email to confirm that you have submitted a visit request and then another email to confirm whether the request has been accepted or not.') + P('You will be added as a member for the new research visit and you will be able to add new members once you have submitted the main visit details description.')}}
{{elif readonly is False:}}
{{=H2(approval_icons[record.admin_status] + XML('&nbsp;')*3 + record.title)}}
{{=P('This page allows you to edit your research visit details.')}}
{{else:}}
{{=H2(approval_icons[record.admin_status] + XML('&nbsp;')*3 + record.title)}}
{{pass}}


<!-- Look for any members -->
{{if members is not None:}}
{{hs_icon = [hs_no if r.auth_user.h_and_s_id is None else hs_ok for r in members]}}
{{pass}}
<!-- Print the member info-->
{{=H4('Research visit members', _style='background-color: lightgrey; line-height: 40px')}}
<!-- and expose the user editing mechanism if readonly is False-->
{{if readonly is True:}}
{{member_rows = [TR(TD(hs), 
                    TD(r.auth_user.last_name +  ', ' +  r.auth_user.first_name),
                    TD()) 
                 for r, hs in zip(members, hs_icon) ]}}
{{=TABLE(TR(TH('H&S'),TH('Name'), TH('')), 
         member_rows,
         _width='100%')}}
{{else:}}
{{=add_member.custom.begin}}
{{member_rows = [TR(TD(hs), 
                    TD(r.auth_user.last_name +  ', ' +  r.auth_user.first_name),
                    TD(A(remove_member_icon, _href=URL('research_visits', 'remove_member', args=r.research_visit_member.id)))) 
                 for r, hs in zip(members, hs_icon) ]}}
{{=TABLE(TR(TH('H&S'),TH('Name'), TH('')), 
         member_rows, 
         TR(TD(),
            TD(add_member.custom.widget.user_id),
            TD(TAG.BUTTON(add_member_icon, 
                          _style='background:none; border:none;padding:0px 10px;font-size: 100%;',
	    _type="submit") + add_member.custom.end),
            _style="vertical-align:top"),
         _width='100%')}}
{{pass}}
{{pass}}

<br>

{{=H4('Research visit details', _style='background-color: lightgrey; line-height: 40px')}}
{{=form}}
<br>


{{=H4('Admin history', _style='background-color: lightgrey; line-height: 40px')}}

{{if record.admin_history is not None:}}
{{=XML(record.admin_history.replace('\\n', '<br />'),
        sanitize=True, permitted_tags=['br/'])}}
{{pass}}
<br><br>

