{{extend 'layout.html'}}

{{=H2('Research visit details')}}

{{=P('This is a list of approved and proposed research visits at SAFE. Follow the links to see who is participating in a visit and what they plan to do. If you are a coordinator for a project, you will also be able to update research visit details, add accomodation and transfer bookings and book research assistant time.')}}

{{=P('You can download a spreadsheet showing all current booking details for all research visits by clicking here: ', A('Download spreadsheet',  _href=URL('research_visits', 'export_ongoing_research_visits')))}}


<br><br>

{{=form}}

<br>


