{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{=H1("SAFE Project Website calendars")}}

The calendar below shows three Google calendars:

<ol>
	<li><b>Web Booked Visits</b>: This calendar shows confirmed bookings of visitors staying at the SAFE project.
	<li><b>Web Help Sought</b>: This calendar shows the dates of confirmed requests for help on a project by the project members.
	<li><b>Web Volunteers</b>: This calendar shows the availability of approved offers to volunteer on SAFE projects.
</ol>

The drop down menu at the top right allows you to hide and reveal these three options.
<br><br>

<iframe src="
https://calendar.google.com/calendar/embed?
showTitle=0&amp;
showPrint=0&amp;
showTabs=0&amp;
height=600&amp;
wkst=1&amp;
bgcolor=%23FFFFFF&amp;
src=k23sbip8av2nvv196n9kupj5ss@group.calendar.google.com&amp;color=%23CCCCFF&amp;
src=fber8126s5pdgccm3k13s90q58@group.calendar.google.com&amp;color=%2399FF66&amp;
src=rairu8u98scfb8cgn86qdrgtic@group.calendar.google.com&amp;color=%23FFCC66&amp;
ctz=Asia%2FKuala_Lumpur" 
style="border-width:0" 
width="800" 
height="600" 
frameborder="0" 
scrolling="no"></iframe>

<br><br>