{{extend 'layout.html'}}

<!-- These variables control the size and position of linked images on this page -->
{{width=120}}
{{style='margin:0px 15px 15px 0px'}}

{{=H2('Data Policy')}}

<p>We require researchers to <em>deposit a copy</em> of all data they generate from working at the SAFE Project and that the data has <em>completed metadata</em> to aid the interpretation of data. Deposited data is stored at <a href='https://www.zenodo.org/'>Zenodo</a>, which allows open access to the research data and provides a permanent DOI for the dataset. The full list of data submitted to the SAFE Project can be seen on our Zenodo community page: <a href='https://www.zenodo.org/communities/safe/'>https://www.zenodo.org/communities/safe/</a></p>


<p>We have three reasons for holding data in a centralised data repository:</p>
<OL>
<LI>Over the lifetime of the SAFE Project, it ensures we retain all information relevant to the experiment. Through time and as new researchers work at SAFE and deposit their data, historical data records will become progressively more valuable as a means of estimating ecological changes through time. Without a central database, these records would become progressively more fragmented and distributed among research groups around the world, making it virtually impossible to track down data in the future.</LI>

<LI>We expect that you will benefit directly from the database. It provides an opportunity for you to obtain data to support your analyses without having to collect it yourself.</LI>

<LI>Similarly, by ensuring we have a centralised database, we provide a method for researchers to link their projects and data with other projects and data that have already been collected. This will provide a means to support collaborations and interdisciplinary projects between researchers.</LI>
</OL>

{{=H3('Depositing data')}}

<p>Researchers are required to deposit their data and metadata within twelve months of data collection, or immediately post-publication for datasets that get published. For multi-year projects, we expect researchers to provide annual updates for the central database.</p>

<p>Spreadsheet data should be deposited through this website at the <a href={{=URL('datasets', 'submit_dataset')}}> Submit Dataset</a> page. The wiki contains detailed <a href={{=URL('dokuwiki', 'working_at_safe', 'data_submission_format')}}>formatting instructions</a> to help you prepare the spreadsheet for submission and describes the metadata that you will need to include. Your data will pass through a validation program before being published, so you may need to revise the submission before it is publishable.</p>


<p>We currently only support data submitted as Excel (.xlsx) files. If you have data in other formats, please email <a href='mailto:info@safeproject.net'>info@safeproject.net</a> to ask for guidance.</p>


{{=H3('Data protection')}}

<p>The metadata for submitted data will be publicly available through Zenodo. In the near future, we will also make your metadata freely available through this site for other researchers to search at all times, facilitating interactions among researchers.</p>

<p>If data is submitted as open access, it will automatically be publicly available from Zenodo. The DOI and publication details of each dataset provide a permanent citation for the dataset, that users of your data are expected to cite. We also use the existing Zenodo mechanism for publishing embargoed data. When you submit a dataset, you can embargo that data for up to two years: the data is stored on Zenodo and the metadata is available, but the data will only become freely available once the embargo date has passed.</p>

<p>If you use open access SAFE data, please ensure you cite the relevant dataset (or any publication that uses the data if more appropriate). If you would like access to an embargoed dataset, requests should initially be directed to the individual researchers who collected the particular data you wish to use.</p>

<br><br>