{{extend 'layout.html'}}

<!-- These variables control the size and position of linked images on this page -->
{{style='margin:0px 15px 15px 0px'}}

<h2>Primary sponsor</h2>

<TABLE style='table-layout:fixed;'>
<TR><TD width='30%' align='center'>
{{=A(IMG(_src=URL('static','images/supporters/small/sime-darby-foundation.jpg'),
       _height='120px', _align='left', _style=style),
     _href="http://www.yayasansimedarby.com")}}
</TD>
<TD>
The primary sponsor of the SAFE Project is the <strong>Sime Darby Foundation</strong>, providing core support for establishing the project, building the field infrastructure, and supporting a large team of field staff. Funding from the Sime Darby Foundation began in 2010 and will continue for a ten-year period, finishing in early 2020.</TD><TR></TABLE>

<h2>Supporting institutions</h2>

<p> The SAFE Project could not proceed without the support of a number of key institutions based in Malaysia and overseas, from academic, government and industrial bodies.</p>

{{=DIV(funders)}}

<H2>Potential sponsors</H2>
<p>We are always looking for ways to expand the SAFE Project, building off our excellent research infrastructure and global research network to further develop the science that is being conducted. We also take great pride in our training program, with a steadily growing number of postgraduate students now working at the experiment. Any parties interested in supporting students or research at the SAFE Project should contact <a href="mailto:r.ewers@imperial.ac.uk">Dr. Ewers</a>.</p>
<br>
