{{extend 'layout.html'}}

<style>
.my-div-icon
{
  background:red;
  border:5px solid rgba(255,255,255,0.5);
  color:blue;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
}
</style>


<div class='container'>
	<h2>SAFE gazetteer</h2>

	<div class='alert alert-info'><p>The coordinates of these sampling locations are nearly all taken from field GPS data and some of them <strong>are not particularly accurate</strong>. If you have better data, please let us know so we can update the gazetteer.</p>
<p>The gazetteer is also a work in progress - for example, the riparian tree plot locations still need to be added. If we are missing some key locations, please tell us!</p></div>
	
	<p>The map below shows the primary fieldwork locations used in the SAFE Project. These core locations provide a set of standard names that can be used to record where data is collected, although researchers will typically also collect GPS coordinates to provide details of local spatial structure in their sampling. For more information about the different types of location included in the gazetteer, see the decription page on <a href='https://safeproject.net/dokuwiki/working_at_safe/sampling_locations'>the SAFE wiki</a>.</p>
	
	
	<p>The searchable table below the map will update the set of locations shown on the map. The export buttons allow you to download a set of locations (or all the locations) in two formats:</p>
		
<dl><dt><strong>GeoJSON</strong></dt>
	<dd>This is a GIS format that can be used with most GIS programs. The single download file can contain a mixture of polygon, line and point data. The file contains the attributes of each location as well as the full coordinates for each location.</dd>
	<dt><strong>GPX</strong></dt>
	<dd>This format is for use in GPS devices and the download file contains a waypoint for each location. For polygon features, we provide a centroid as a GPX waypoint, since these locations are simple enough that the centroid lies within the sampling location. We deliberately <strong>do not provide any centroid </strong> for linear sampling locations, such as riparian transects. There is no guarantee that the line centroid will fall on the line - use the GPX waypoints for the individual stations on a transect instead.</dd>
</dl>

	<div id="mapid" style='height: 600px; border: 3px solid white;'></div>
	
	{{=form}}
	</br>
</div> 
{{block page_js}}

<script  type="text/javascript">

	var mymap = L.map('mapid').setView([4.75, 117.25], 9);


	var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
		attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
	}).addTo(mymap);

	L.control.scale({imperial:false}).addTo(mymap);
	
	// Add the markers from the db
	var markers = JSON.parse('{{=XML(sitedata)}}')
	
	// Set a style for points, represented by 
	// simple circle markers
	var geojsonMarkerOptions = {
	    radius: 4,
	    fillColor: "#2367F9",
	    color: "#000",
	    weight: 1,
	    opacity: 1,
	    fillOpacity: 0.8
	};
	
	// loop over the markers adding them into the map
	$.each(markers, function(key){
		var m = markers[key];
		var marker = L.geoJSON(m, {
    		pointToLayer: function (feature, latlng) {
        		return L.circleMarker(latlng, geojsonMarkerOptions);
    		}}).addTo(mymap);
		// Add the tooltip, styled on the server side
		marker.bindTooltip(m.tooltip);
	});
	
</script>
	
{{end page_js}}
