{{extend 'layout.html'}}


<!-- These variables control the size and position of linked images on this page -->
{{width=120}}
{{style='margin:0px 15px 15px 0px'}}

{{=H2('Health and Safety')}}

<p>We contracted an independent consultant to conduct a risk assessment for working at the SAFE Project field sites. A short summary of the key risks and recommendations can be found {{=A('here', _href='https://safeproject.net/dokuwiki/working_at_safe/health_and_safety_faq')}}, but we recommend you read the {{=A('full risk assessment', _href=URL('static','images/core_science/safe_ra_2011.pdf'))}} which can be used as a basis for your own risk assessments. Note that this does not include an assessment of any specific risks that are associated with the particulars of your research activities.</p>

<p>There is also an {{=A('Emergency Response Manual', _href=URL('static','images/core_science/safe_manual_complete.pdf'))}} for the field sites. The manual provides clear written protocols and flow charts on how to respond to emergency situations. There is a hard copy of this manual in the field camp, and all researchers are advised to read it.</p>

<p>There is a list of emergency contact numbers below, including the phone numbers of key staff, research stations, hospitals, police and helicopter evacuation service. You should print this page out and take it into the field. Mobile phone coverage is generally good across research sites within the SAFE Project, so you must carry a charged mobile in a waterproof container when going into the field.</p>

<p>In the event of an emergency, there is a well-stocked first aid kit at the campsite and most of the SAFE Project staff are trained in emergency first aid and field rescue techniques. </p>

<p>Any safety incidents or near misses that you experience while working at the SAFE Project should be reported using the {{=A('Incident Report Form', _href=URL('static','images/core_science/safe_incident_report_form.pdf'))}}. This is to help us further refine our protocols to ensure the highest levels of safety for all staff and researchers.</p>


<h3>Evacuation</h3>

If a casualty can be evacuated from the field, our preferred option is for a car to take them to the Emergency Clinic at Belian Estate (1 hour away), which can evacuate casualties by ambulance to the nearest hospital in Tawau in 2-3 hours. 

<h3>Key GPS Coordinates</h3>

If you need to provide locations in an emergency, these are the two key ones as both decimal degrees and degrees, minutes and seconds.

<div class='container'>
	<div class='col-sm-6'>
	<dl>
		<dt>SAFE Camp</dt>
		<dd>
			<ul>
				<li>4.72425°N, 117.60030°E </li>
				<li>4° 43' 27.3"N, 117° 36' 0.9"E</li>
			</ul>
		</dd>
	</dl>
</div>
<div class='col-sm-6'>
	<dl>
		<dt>Belian Clinic</dt>
		<dd>
			<ul>
				<li>4.64261°N, 117.52850°E</li>
				<li>4° 38' 33.4"N, 117° 31' 42.5"E</li>
			</ul>
		</dd>
	</dl>
</div>
</div>


<h3>Emergency Contact Numbers</h3>

<p>Note that these are local Malaysian numbers unless otherwise specified.</p>


<div class='col-sm-6'>
	<dl>
		<dt>SAFE Staff</dt>
		<dd>
			<ul>
				<li>Ryan Gray – 0 135565250</li>
				<li>Jonny Larenus – 0178673841</li>
				<li>Annuar - 0142833879</li>
				<li>Magat Bin Japar – 0105058275</li>
				<li>Magat Bin Japar – 0198957450</li>
				<li>Maria Peni - 0198532877</li>
				<li>Glen Reynolds (KK) – 0178167177</li>
				<li>Rob Ewers (UK) – 00447403117952</li>
			</ul>
		</dd>
		<dt>Maliau Staff</dt>
		<dd>
			<ul>
				<li>Maliau office - 087742100</li>
				<li>Maliau office – 0877422103</li>
				<li>Grace Pounsin - 0136677534</li>
			</ul>
		</dd>
		<dt>Police</dt>
		<dd>
			<ul>
				<li>Kalabakan – 0138883305</li>
				<li>Kalabakan - 089772121</li>
				<li>Tawau – 089752222</li>
			</ul>
		</dd>
	</dl>
</div>

<div class='col-sm-6'>
	<dl>
		<dt>Belian Camp Clinic and Emergency Evacuation</dt>
		<dd>
			<ul>
				<li>Belian Camp Clinic - 0105838484</li>
			</ul>
		</dd>	
		<dt>Hospitals</dt>
		<dd>
			<ul>
				<li>Tawau – 089773533</li>
				<li>Lahad Datu –089895111</li>
				<li>Sandakan – 089212111</li>
				<li>Sabah Medical Centre (KK) – 088211333 </li>
				<li>Queen Elizabeth Hospital (KK) – 088517555</li>
			</ul>
		</dd>
		<dt>Fieldskills (Health and Safety Consultants)</dt>
		<dd>
			<ul>
				<!-- <li>Simon Amos – 0198312579 </li> -->
				<li>Joe Wan – 0198516615 </li>
				<li>James Burns - 0198950704</li>
			</ul>
		</dd>
	</dl>
</div>


