{{extend 'layout.html'}}

{{=H2('Contact details for the SAFE project')}}
<br>

<style type='text/css'>
.fake_button_table {
	border-collapse: separate; 
	border-spacing: 10px 0px;
}
.fake_button_cell {
	width: 25%; 
	text-align:center; 
	background-color:#E7E7E7; 
	padding:5px; 
	border-radius: 5px
}
</style>

<p>The SAFE Project has a critical mass of researchers and research students from Malaysia and the rest of the world. The project is managed by a small management team and gains academic oversight from a Science Advisory Committee. In addition, we run a large field team, comprised largely of Research Assistants, that help researchers on the ground. Finally, all international researchers are required to have a Malaysian collaborator as part of their application for a research visa, and the SAFE Project is amply supported by a growing number of Malaysian counterparts.</p>

<p>Details and contact information for all of these groups can be found by following the links below.</p>


<!-- Simple table of links to pages of different contact types-->
<table width=100% class='fake_button_table'>
<tr><td class='fake_button_cell'> <a href="{{=URL('people','contacts', vars=dict(group='Management Team'))}}" col='grey'><strong>Management Team</strong></a> </td> 
    <td class='fake_button_cell'> <a href="{{=URL('people','contacts', vars=dict(group='Science Advisory Committee'))}}" col='grey'><strong>Science Advisory Committee</strong></a> </td>
    <td class='fake_button_cell'> <a href="{{=URL('people','contacts', vars=dict(group='Malaysian Collaborators'))}}" col='grey'><strong>Malaysian Collaborators</strong></a> </td>
    <td class='fake_button_cell'> <a href="{{=URL('people','contacts', vars=dict(group='Field Team'))}}" col='grey'><strong>Field Team</strong></a> </td> </tr>
</table>

<br>

{{=members}}


<br>
