{{extend 'layout.html'}}

{{=H2('Contact details for the SAFE project')}}
<br>

<style type='text/css'>
.fake_button_table {
	border-collapse: separate; 
	border-spacing: 10px 0px;
}
.fake_button_cell {
	width: 25%; 
	text-align:center; 
	background-color:#E7E7E7; 
	padding:5px; 
	border-radius: 5px
}
</style>

<!-- Simple table of links to pages of different contact types-->
<table width=100% class='fake_button_table'>
<tr><td class='fake_button_cell'> <a href="{{=URL('people','contacts', vars=dict(group='Management Team'))}}" col='grey'><strong>Management Team</strong></a> </td> 
    <td class='fake_button_cell'> <a href="{{=URL('people','contacts', vars=dict(group='Science Advisory Committee'))}}" col='grey'><strong>Science Advisory Committee</strong></a> </td>
    <td class='fake_button_cell'> <a href="{{=URL('people','contacts', vars=dict(group='Malaysian Collaborators'))}}" col='grey'><strong>Malaysian Collaborators</strong></a> </td>
    <td class='fake_button_cell'> <a href="{{=URL('people','contacts', vars=dict(group='Field Team'))}}" col='grey'><strong>Field Team</strong></a> </td> </tr>
</table>

<br>

{{=members}}


<br>
