{{extend 'layout.html'}}

{{=H2('Discussion Board')}}

 <p>This discussion board is available for registered users to ask questions across the SAFE community. </p>
<ul>
	<li>Before starting a new topic, please look through the information already on the website and wiki.</li>
	<li>Please use an informative topic title - avoid topic title like 'Help!' and go for precise requests.</li>
	<li>Remember that this a community forum and the authors of posts are identified, so be polite!</li></ul>


{{=H3('New Discussion Topic')}}

<br>
{{=form}}
<br>
