{{extend 'layout.html'}}

<div class="flash">{{=response.flash}}</div>

{{=STYLE('td {padding: 5px 20px;}')}}

{{=H2("Bed reservation details")}}

<p> There are {{=n_beds_available}} beds available to book at SAFE. Please check {{=A('the bed availability calendar', _href=URL('bed_reservations','bed_availability'))}} for the period you want to visit and then book available beds using the form below. Note that:</p>

<ul>
<li>Your reservation must be confirmed by an administrator before you are definitely booked in.</li>
<li>You must give at least 14 days notice to book a visit.</li>
</ul>

<!-- Look for any members -->
{{if reservation_members is not None:}}
{{hs_icon = [hs_no if r.auth_user.h_and_s_id is None else hs_ok for r in reservation_members]}}
<!-- Print the member info-->
{{=BR()}}
{{=H4('Reservation members', _style='background-color: lightgrey; line-height: 40px')}}
<!-- and expose the user editing mechanism if readonly is False-->
{{if readonly is True:}}
{{member_rows = [TR(TD(hs), 
                    TD(r.auth_user.last_name +  ', ' +  r.auth_user.first_name),
                    TD()) 
                 for r, hs in zip(reservation_members, hs_icon) ]}}
{{=TABLE(TR(TH('H & S form status'),TH('Name'), TH('')), 
         member_rows,
         _width='100%')}}
{{else:}}
{{=add_member.custom.begin}}
{{member_rows = [TR(TD(hs), 
                    TD(r.auth_user.last_name +  ', ' +  r.auth_user.first_name),
                    TD(A(remove_member_icon, _href=URL('bed_reservations', 
                         'remove_member', args=r.bed_reservation_member.id))))  
                 for r, hs in zip(reservation_members, hs_icon) ]}}
{{=TABLE(TR(TH('H & S form status'),TH('Name'), TH('')), 
         member_rows,
         TR(TD(),
            TD(add_member.custom.widget.user_id),
            TD(TAG.BUTTON(add_member_icon, 
                          _style='background:none; border:none;padding:0px 10px;font-size: 100%;',
           _type="submit") + add_member.custom.end),
           _style="vertical-align:top"),
         _width='100%')}}
{{=BR()}}
{{pass}}
{{pass}}

{{=H4('Reservation Details', _style='background-color: lightgrey; line-height: 40px')}}


{{=form}}