{{extend 'layout.html'}}

<div class="flash">{{=response.flash or ' '}}</div>

{{=H3('Bed availability')}}

<p> There are {{=n_beds_available}} beds available to book at SAFE. Please check {{=A('the bed availability calendar', _href=URL('bed_reservations','bed_availability'))}} for the period you want to visit and then book available beds using the form below. Note that:</p>

<ul>
<li>Your reservation must be confirmed by an administrator before you are definitely booked in.</li>
<li>You must give at least 14 days notice to book a visit.</li>
</ul>


{{=H3('Submit a provisional booking')}}

{{=BR()}}
{{=form}}
