<html>
<p>Dear {{=name}},</p>

<p>Many thanks for submitting a {{=submission_type}} to the SAFE Project website. Your submission will be checked by an administrator and then either approved or sent back for resubmission with comments. The submitted version can be found at the link below:</p>

<p>{{=A(url, _href=url)}}</p>

<p>You cannot edit a submitted {{=submission_type}} but you will be able to edit it once an admin decision has been made. You will get a further email shortly to let you know of the admin decision.</p>

<p>Regards,</p>
<p>Web Administrator</p>
<p>On behalf of Rob Ewers</p>
</html>
