<html>
<p>Dear Maliau Basin,</p>

<p>A research visit request through the SAFE Project website (https://www.safeproject.net) has requested accommodation bookings at the Maliau Basin Conservation Area. Accommodation is requested for {{=count}} bookings with the following details:</p>

{{=maliau_table}}

<p>The contact for this booking request is {{=proposer_name}}, who is copied in to the email. Please contact {{=proposer_name}} directly for any queries about this booking request.</p>

<p>Many thanks,</p>
<p>SAFE website team</p>
<p>On behalf of Dr. Rob Ewers (SAFE Project Director)</p>
</html>
