<html>
<p>Dear {{=name}},</p>

<p>The research output that you submitted to the SAFE Project website has been approved. You can see the publicly viewable record here:</p>

<p>{{=A(public_url, _href=public_url)}}</p>

<p>The details page for the output remains the same and you can update it at any point.</p>

<p>{{=A(url, _href=url)}}</p>

<p>If you update your output details, they will be temporarily hidden from public view: remember to resubmit any changes so that the admin team can approve the changes.</p>

<p>Regards,</p>
<p>{{=admin}}</p>
<p>On behalf of Rob Ewers</p>
</html>
