<html>
<p>Dear SAFE research project coordinators,</p>

<p>The following research project proposal has been submitted to the SAFE Project. As the coordinator of an existing or planned project, or of a project that completed within the last year, we would be very grateful if you can look over the proposal. The link to the submitted proposal is:</p>

<p>{{=A(url, _href=url)}}</p>

<p>If you do think there are issues that need resolving with this proposal then please reply to this email within the two weeks. Any issues that are raised will then be looked over by the Scientific Advisory Committee before a final decision is made on the proposal. If no issues are raised within this time frame, then we will approve the proposal.</p>

<p>You will also be able to add project links to the proposal. If you just want to highlight similarities between a project you coordinate and the proposed project and encourage the organisers to contact you, then use the project links section in the webpage above to pair your projects.</p>

<p>Many thanks for your time in reviewing proposals and in helping us to manage research at SAFE to be as integrated and complementary as possible.</p>

<p>Regards,</p>
<p>{{=admin}}</p>

<p>On behalf of Rob Ewers</p>
</html>
