<html>
Dear {{=name}},

<p>Thanks for sending in your project proposal. It will now be sent out for peer review by other scientists working at SAFE. You will now be able to see your project proposal online at this link:</p>
{{=A(url, _href=url)}}

<p>If you haven't already done so, you should now add any other project members to the proposal so that we can evaluate the team doing the research. All members will need to be registered on the SAFE website before you add them to the project.</p>

<p>We will be in touch shortly (usually within two weeks) to let you know if your proposal has been accepted.</p>


Regards,
Olivia Daniel
<br>
On behalf of Rob Ewers
</html>
