<html>
<p>Dear {{=name}},</p>

<p>Your project proposal for research at the SAFE project has been reviewed by the SAFE Project research community and the Science Advisory Committee and we are happy for you to go ahead with it. The approved proposal can be seen at the link below:

<p>{{=A(url, _href=url)}}</p>

<p>You can see any reviewers comments on the approved project in the admin history section of the proposal details. You do not have to respond to any questions or comments - they are merely provided as additional input for you to consider.</p>

<p>You will find a lot of information about the next steps for working at SAFE below. There is a lot of important information here about working at SAFE, so please take the time to go through it. Please do let us know if you have any further questions or queries.</p> 

<p>Regards,</p>

<p>{{=admin}}</p>

<p>On behalf of Rob Ewers</p>

<HR>
	
<H4>Next steps for working at SAFE</H4>

<H5>Data management</H5>

<p>Everyone collecting data at SAFE is required to submit a copy of that data and complete metadata through our website to our Zenodo community <a href='https://www.zenodo.org/communities/safe/'>https://www.zenodo.org/communities/safe/</a>.  We strongly recommend that you look carefully at our data submission policy (<a href='https://www.safeproject.net/info/data_policy'>https://www.safeproject.net/info/data_policy</a>) and formatting guidelines (<a href='https://www.safeproject.net/dokuwiki/working_at_safe/data_submission_format'>https://www.safeproject.net/dokuwiki/working_at_safe/data_submission_format</a>) before heading to the field in order to help check that the recording and format of your data will pass our validation checks.  This will also make it much easier for you to access other people's data to support your analyses.</p>
 
<H5>Updating your project details</H5>

<p>The approved version of your project is now visible to on our website where everyone can view it:</p>

<p>{{=A(public_url, _href=public_url)}}</p>

<p>The project details page contains more information, and is visible to all researchers at SAFE:</p>

<p>{{=A(url, _href=url)}}</p>

<p>You can also use this link to update your project details: click on the "Edit new draft" button to create a new version. Please do use this to keep your project details up to date and to record any changes. Once you have completed your new version, submit it! Ordinarily, we will just approve updated project descriptions and link the project to the new proposal version but if you make major changes to a project, we may consider sending it out for re-review.</p>


<H5>Field logistics</H5>

<p>There are few issues we need you to be aware of and to comply with for working at SAFE.  These are not meant to be onerous, and help safeguard the long term future of the project.  Details can all be found on our website.  In particular, please ensure you obtain research visas, and that you abide by our data management, biosecurity and health and safety protocols. Details on all of these issues can be found at this link:</p>

{{=A(overview_url, _href=overview_url)}}

<p>You will need to complete a research visit proposal before coming to the field. This allows you to describe: i) when you will be visiting SAFE, ii) who is on your field team, and iii) your accommodation, transport and research assistant support needs. Until we have approved a research visit proposal, your requested resources are only provisionally booked. There is a <strong>minimum of two weeks notice</strong> for research visits and the booking form is found here:</p>

<p>{{=A(rv_url, _href=rv_url)}}</p>

<p>Before coming to the field, you will need to make sure that all of your team complete or update their health and safty information forms on the website. These details are vital for health and safety purposes, and <strong>you will not be permitted</strong> to visit the site until we have them. You will be able to see the health and safety forms for your field team from your research visit proposal and each team member will be able to see their own form here:</p>

<p>{{=A(hs_url, _href=hs_url)}}</p>


<H5>Reporting your science and interacting with others</H5>

<UL>
<LI>Please make sure your <strong>add your research outputs</strong> to the SAFE website. These could be scientific papers, talks, posters or any kind of research output. These are vital for keeping everyone informed about research at SAFE and for showing funders what we are all doing. You can upload projects at the link below and also connect your outputs to your project:
	
<p>{{=A(output_url, _href=output_url)}}</p>
</LI>

<LI>All published results from SAFE are distributed through a Mendeley group - joining this group at the link below will be the best way to find, and keep on top of, the scientific outputs emerging from SAFE.
	
<p><a href='http://www.mendeley.com/groups/2880361/stability-of-altered-forest-ecosystems-project'>http://www.mendeley.com/groups/2880361/stability-of-altered-forest-ecosystems-project</a></p>
</LI>

<LI>Please consider <strong>writing a blog post</strong> about your research or time in the field. You can compose a blog by following this link and submit it for approval to appear on the SAFE website.
	
<p>{{=A(blog_url, _href=blog_url)}}</p>
</LI>


<LI> We have an email list for researchers working at SAFE and you and all of your collaborators on this project should sign up to this.  Details of how to do so are here:
	
<p>{{=A(email_url, _href=email_url)}}</p>
</LI>


<LI> The SAFE Project is on Facebook (<a href='http://www.facebook.com/safeprojectmalaysia'>http://www.facebook.com/safeprojectmalaysia</a>) and Twitter (<a href='https://twitter.com/SAFE_Project'>https://twitter.com/SAFE_Project</a>) which are good ways of keeping up to date with the large number of people involved and research going on.
</LI>

