<html>
<p>Dear {{=name}},</p>

<p>This is to confirm that your project proposal has been sent out to review by the SAFE research community. The version in review can be found online at this URL:</p>

<p>{{=A(url, _href=url)}}</p>

<p>We email your proposal to all project coordinators of current projects, planned future projects and projects that completed within the last year. They have two weeks to respond to us with any comments or queries about the proposal and then we will make a final decision. If serious issues are raised that mean that a project needs to resubmitted with major changes, then we will forward the proposal and review comments to the Scientific Advisory Committee for advice.</p>

<p>You will get a further email to let you know of the decision on the proposal.</p>

<p>Regards,</p>
<p>{{=admin}}</p>
<p>On behalf of Rob Ewers</p>
</html>
