Dear {{name}},

Thanks for sending in your project proposal. It was sent out for peer review to all the other scientists working at SAFE and did not generate any opposition, so we are happy for you to proceed. 

{{admincomments}}

We have included a lot of important information about working at SAFE below, so please take the time to go through it.  Some of the items below need your input (in bold).

Please do let me know if you have any further questions or queries. 

Regards,

Olivia Daniel

On behalf of Rob Ewers

{{=H5('Data management')

Everyone collecting data at SAFE is required to deposit a copy of that data into our central database.  I strongly recommend you contact the data management team before heading to the field to discuss the recording and format of your data, ensuring it will smoothly integrate with the database.  This will also make it much easier for you to access other people’s data to support your analyses.

 

{{=H5('Website publication of your project')

Your project description is now on our website where everyone can view it:

{{url = URL('static' scheme=True, host=True)}}
{{=A(href="{{}}">Click here</a>


You are able to edit this webpage yourself if you want to change it at any point.  To do this you will need to set up an account and then let me know which webpage(s) you need editing rights on. Instructions for setting up the account and editing are here.


{{=H5('Record keeping for SAFE Project')}}

I have several queries to help us keep records of who’s out there doing what, ensuring we can keep on putting related researchers in contact with each other, and for reporting to our main funders.  Can you tell me:

1.       Is this part of a MSc, PhD, postdoc or other research? 

2.       For each of the researchers involved in this project, please indicate their role (eg PhD student, supervisor, collaborator, etc).

3.       Do you have a grant to support this work (or will you be seeking one), and if so then please send details of the grant title, funder, year of award and amount.  This information is important for us to show our funders, allowing us to highlight the extent to which their investment has been leveraged to support work beyond their central donation.

 

Field logistics

·         There are few issues we need you to be aware of and to comply with for working at SAFE.  These are not meant to be onerous, and help safeguard the long term future of the project.  Details can all be found on our website.  In particular, please ensure you obtain research visas, and that you abide by our data management, biosecurity and health and safety protocols. Details on all of these issues are here.

 

·         Before coming to the field, make sure you fill out the researcher information form found here.  We require these details for health and safety purposes, and you will not be permitted to visit the site until we have them.

 

·         As you make plans for doing field work, get in contact with Ryan Gray, our deputy Scientific Coordinator.  He will be able to help you plan your visit.

 

Interacting with others

·         We have an email list for researchers working at SAFE and you and all of your collaborators on this project should sign up to this.  Details of how to do so are here.

 

·         SAFE Project is on Facebook and Twitter (@SAFE_Project) which are good ways of keeping up to date with the large number of people involved and research going on. 

 

·         Anyone who sets up a website editing account can also blog about their field experiences on the SAFE Project blogs page, and we encourage you to do so.

 

Keeping up with results

·         All published results from SAFE will be distributed through a Mendeley group that you can access here.  Joining this group will be the best way to find, and keep on top of, the scientific outputs emerging from SAFE.

 

 


