<html>
<p>Dear {{=name}},</p>

<p>This is to confirm that you have submitted a project proposal with the title:</p>

<p>{{=title}}</p>

<p>The submitted version of the project can be found online at this URL:</p>

<p>{{=A(url, _href=url)}}</p>

<p>The proposal will be checked by the web administrators in the next few days. If this is a new project, then we will usually send it out for peer review by other scientists working at SAFE but if there are immediate problems with the proposal, then it may be returned to you for editing. If this submission is an update of an existing approved project, then your proposal will likely be approved but major changes to the project may need to be re-reviewed.</p>
	
<p>If you haven't already done so, you should now add any other project members to the proposal so that we can evaluate the team doing the research. All members will need to be registered on the SAFE website before you add them to the project. You  should also add links to any related projects.</p>

<p>You will get a further email to let you know of the decision on the proposal.</p>

<p>Regards,</p>
<p>Web Administrator</p>
<p>On behalf of Rob Ewers</p>
</html>
