<html>
<p>Dear {{=name}},</p>

<p>Your project proposal for research at the SAFE project has been returned to you for resubmission. This means that either a web administrator or the project review process has identified problems with the proposal that need to be amended before the project can be approved. You will be able to see any comments made in the adminstration history section in the proposal link below and you may be contacted separately by the adminstrators to clarify why the project has been sent back for resubmission.</p>

<p>>The proposal can be found here:</p>

<p>{{=A(url, _href=url)}}</p>

<p>Please do let us know if you have any further questions or queries.</p> 

<p>Regards,</p>

<p>{{=admin}}</p>

On behalf of Rob Ewers
</html>
