<html>
<p>Dear {{=name}},</p>

<p>You have created a new draft proposal at the SAFE project, which can now be found online at this URL:</p>

<p>{{=A(url, _href=url)}}</p>
	
<p>You should now add any other project members to the proposal so that we can evaluate the team doing the research. All members will need to be registered on the SAFE website before you add them to the project. You  should also add links to any related projects.</p>

<p>When your proposal is complete and all project members and links have been added, visit the link above and press the 'Save and Submit' button.</p>

<p>Regards,</p>
<p>Web Administrator</p>
<p>On behalf of Rob Ewers</p>
</html>
