<html>
<p>Dear {{=name}},</p>

<p>Your registration at the SAFE Project website has been approved. You can see the publicly viewable record here:</p>

<p>{{=A(user_url, _href=user_url)}}</p>

<p>You can update your profile at any point by logging in and going to the following page:</p>

<p>{{=A(profile_url, _href=profile_url)}}</p>

<p>Before you  go into the field at the SAFE Project, you will also need to provide your Health and Safety details. You should update this before every field visit.</p>

<p>{{=A(h_and_s_url, _href=h_and_s_url)}}</p>

<p>Regards,</p>
<p>{{=admin}}</p>
<p>On behalf of Rob Ewers</p>
</html>
