<html>
<p>Dear {{=name}},</p>

<p>We're sorry but your registration at the SAFE Project website has been rejected. The most likely explanation is that it looked like spam: we get quite a lot of junk applications so can be quite ruthless!</p>

<p>If this is a mistake then please email the administrators to let them know there is a problem (<a href='mailto:info@safeproject.net'>info@safeproject.net</a>) and then register again at the site. We may reject your application again unless we are convinced it is a genuine registration, so you should take care to complete as much detail as possible on the form. In particular:</p>

<ul>
	<li>Use a valid academic email address where possible.</li>
	<li>Otherwise use an email address with your real name.</li>
	<li>Provide full details of your academic institution.</li>
	<li>Provide a short biography describing your background and how you plan to be involved with research at SAFE.</li>
</ul>


<p>Regards,</p>
<p>{{=admin}}</p>
<p>On behalf of Rob Ewers</p>
</html>
