<html>
<p>Dear {{=name}},</p>

<p>You have created a new proposal for a research visit to the SAFE Project. For your records, the link below will take you to the details page for the research visit proposal, which will allow you to add researchers to the visit and book accomodation, transfers and research assistant support. Once you have completed the proposal, press the Submit button to send it to the administrators for approval.</p>

<p>{{=A(url, _href=url)}}</p>

<p>Regards,</p>
<p>Web Administrator</p>
<p>On behalf of Rob Ewers</p>
</html>
