<html>
<p>Dear {{=name}},</p>

<p>The admin team have approved your research visit proposal to come and work at the SAFE Project.</p>

<p>You can still amend the approved details page to update your field work plan - note that the proposal will again be locked until your revised plan has been approved.</p>

<p>{{=A(url, _href=url)}}</p>

<p>In particular, now that your visit has been approved you must ensure that all of your researchers provide or update their <strong> health and safety information</strong>. You will be able to see who has existing records from the research visit members panel - you should <strong>check these are complete</strong>. If a researcher does not have up to date health and safety information, we cannot allow them to work at the SAFE Project.</p>

{{=safe_cost_msg}}

<p>Many thanks,</p>
<p>{{=admin}}</p>
<p>On behalf of Rob Ewers</p>
</html>
	
