<html>
<p>Dear {{=name}},</p>

<p>You are registered as part of a upcoming research visit to the SAFE project but your Health and Safety information is either missing or has not been checked within the last 6 months. Please remember that it is <strong>mandatory</strong> to complete or update this information before you come to work at the SAFE Project.</p>

<p>You must now:</p>
<ul>
	<li>Log in to your Health and Safety page at the following URL: </br>
	    <a href='https://www.safeproject.net/health_safety/health_and_safety'>
		https://www.safeproject.net/health_safety/health_and_safety</a>
	 </li>
	<li>Fill in the required information or check that the information is still up to date.</li>
	<li>Click the Submit / Confirm button to confirm that the information is correct or to save any updates.</li>
</ul>

<p>Note that your research visit is conditional on providing full health and safety details. If you do not check or complete your health and safety information, we cannot allow you to work at the SAFE Project.</p>

<p>You will get automatic daily reminders until these details are completed.</p>

<p>Many thanks,</p>
<p>SAFE website team</p>
<p>On behalf of Rob Ewers</p>
</html>
	
