<html>
<p>Dear {{=name}},</p>

<p>Your research visit to the SAFE project is due to start within a week but you have still not identified all of the staff that will be coming to the SAFE project. We allow research visits to be planned with requests for resources for as yet unknown researchers but it is essential that your complete research team is identified <strong>before</strong> you come to the field.</p>

<p><strong>Research Visit Title:</strong> {{=title}}</p>
<p><strong>Webpage:</strong> {{=A(url, _href=url)}}</p>
<p><strong>Number of unknown researchers:</strong> {{=count}}</p>

<p>You must now:</p>
<ul>
	<li>Ensure all of your field researchers are registered on the SAFE website.</li>
	<li>Ensure that all of your field researchers complete or update their health and safety details on the website.</li>
	<li>Go to your research visit proposals and update the proposal to identify the unknown workers.</li>
</ul>

<p>As noted in the original approval email for your visit, approval of your research visit is conditional on providing full details of your research team. If we do not know who is coming to the field or if they do not have up to date health and safety information, we cannot allow them to work at the SAFE Project.</p>

<p>You will get automatic daily reminders until these details are completed.</p>

<p>Many thanks,</p>
<p>SAFE website team</p>
<p>On behalf of Rob Ewers</p>
</html>
	
