{{extend 'layout.html'}}

<div class="flash">{{=response.flash or session.flash or ' '}}</div>

{{=H1('New project proposal submission')}}

<p> Please use the form below to propose a new research project at SAFE. The proposal will be considered by a panel of current researchers at SAFE. You will get an email to confirm that you have submitted a project and then another email to confirm whether the project has been accepted or not.</p>

<p> You will be added as the main contact for the new project and then forwarded to the project details page, where you can add more members.</p>

<br>

{{=form}}

<br>