{{extend 'layout.html'}}

<!-- This page is complex as it serves a single URL with two different views 
     1) An editing view for new projects (record is None) or for project coordinators
        to change details (readonly is False)
     2) A static view for seeing the details of proposed projects.

The form details are assembled on the fly using a custom form layout:
    http://web2py.com/books/default/chapter/29/07/forms-and-validators#Custom-forms
-->


<div class="flash">{{=response.flash or session.flash or ' '}}</div>


<!--Page header, depending on the readonly state and whether it is a new project-->

{{if record is None:}}
{{=H2('New Project Submission')}}
{{=P('Please use the form below to submit a new research proposal to the SAFE project or to update your proposal. Your proposal will first be screened by an administrator and then sent out to the research community at SAFE for comments. This process usually takes about 14 days. You will get an email to confirm that you have submitted a project and then another email to confirm whether the project has been accepted or not.') + P('You will be added as the main contact for the new project and you will be able to add new project members once you have submitted the project description.')}}
{{elif readonly is False:}}
{{=H2(approval_icons[record.admin_status] + XML('&nbsp;')*3 + record.title)}}
{{=P('You are a coordinator for this project and this page allows you to edit your project details. Note that an administrator will have to approve any edits: if you have substantially changed the science case, it will probably be sent out for re-reviewing.')}}
{{else:}}
{{=H2(approval_icons[record.admin_status] + XML('&nbsp;')*3 + record.title)}}
{{pass}}

<!-- This section of code handles providing a list of members for readonly and a
     custom form interface to manage members for the editing view -->

{{if record is not None:}}
{{=H4('Project members', _style='background-color: lightgrey; line-height: 40px')}}
{{if readonly is True:}}
{{=TABLE(TR(TH('Coordinator', _style='text-align:center'),TH('Name'), TH('Project Role')), 
         *[TR(TD(coordinator_icon if r.is_coordinator else not_coordinator_icon, _style='text-align:center'), 
	      TD(r.user_id.last_name + ', ' + r.user_id.first_name), 
	      TD(r.project_role)) for r in members], _width='100%')}}
{{else:}}
{{=add_member.custom.begin}}
{{member_rows = [TR(TD(coordinator_icon if r.is_coordinator else not_coordinator_icon, _style='text-align:center'), 
	            TD(r.user_id.last_name + ', ' + r.user_id.first_name),
	            TD(r.project_role), 
	            TD(A(remove_member_icon, _href=URL('projects', 'remove_member', args=r.id)))) for r in members]}}
{{=TABLE(TR(TH('Coordinator', _style='text-align:center'),TH('Name'), TH('Project Role'), TH('')), 
         member_rows,
	 TR(TD(add_member.custom.widget.is_coordinator, _style='text-align:center'),
	    TD(add_member.custom.widget.user_id),
	    TD(add_member.custom.widget.project_role),
	    TD(TAG.BUTTON(add_member_icon, _style='background:none; border:none;padding:0px 10px;font-size: 100%;',
	       _type="submit") + add_member.custom.end),
	    _style="vertical-align:top"),
	_width='100%')}}
{{pass}}
{{pass}}
{{=BR()}}

{{=H4('Project title and dates', _style='background-color: lightgrey; line-height: 40px')}}

{{if record is None or readonly is False:}}
{{=form.custom.begin}}
{{=P(B('Project Title:')) + DIV(form.custom.widget.title)}}
{{=BR() + TABLE(TR(TD(P(B('Start date:')) + DIV(form.custom.widget.start_date)),
		   TD(P(B('End date:')) + DIV(form.custom.widget.end_date))))}}
{{=BR() + P(B('Project thumbnail image')) + P('Please choose an image to illustrate your project. This should be a small, square (150 by 150 pixel) JPEG or PNG file.') + DIV(form.custom.widget.picture)}}
{{else:}}
{{=P(B('Title: '), record.title)}}
{{=P(B('Project dates: '), record.start_date, ' to ', record.end_date)}}
{{pass}}


<!--The if statements in the next section are a way to edit the default settings on the 
widgets - like the number of rows on the text box. These setting aren't available when
the form is readonly so need to be wrapped in a test to avoid errors.-->

{{=H4('Science case', _style='background-color: lightgrey; line-height: 40px')}}

{{if record is None or readonly is False:}}
{{=P('These sections set out the case for the research - what is the background and the hypotheses - and the research methods to be used. You', B(' must ', _style='color:darkgreen'), 'provide a detailed rationale and methods for your project before it can be sent out for comment. You must also choose at least one research area classification from the list provided below.')}}
{{=B('Rationale')}}
{{rat=form.custom.widget.rationale}}
{{rat['_rows'] = 5}}
{{=rat}}
{{=BR()+B('Methods')}}
{{meth=form.custom.widget.methods}}
{{meth['_rows'] = 5}}
{{=meth}}
{{=BR()+B('Research areas') + XML('&nbsp;')*2 + '(Select one or more from the list below:)'}}
{{tags=form.custom.widget.research_areas}}
{{tags['_size'] = 3}}
{{=tags}}
{{=BR() + P(B('Data use')) + P('Please select at least one option to show what the data generated by this project will be used for.') + DIV(form.custom.widget.data_use, _style='display: inline-block')}}
{{else:}}
{{=P(B('Rationale'))}}
{{=record.rationale}}
{{=BR()*2 + P(B('Methods'))}}
{{=record.methods}}
{{=BR()*2 + P(B('Research areas: ' ), 'None given' if record.research_areas is None else ', '.join(record.research_areas))}}
{{=P(B('Data use: '), 'None given' if record.data_use is None else ', '.join(record.data_use))}}
{{pass}}

{{=H4('Destructive sampling', _style='background-color: lightgrey; line-height: 40px')}}

{{if record is None or readonly is False:}}
{{=P('Any research that kills or removes animals from the environment or causes damage to the habitat by disturbing the soil or damaging vegetation is strictly monitored at SAFE.') + form.custom.widget.destructive_sampling + B('This project involves destructive sampling.') + BR()*2 + P('If you have ticked the box above to show that you will perform destructive sampling as part of your project, then you ', B(' must ', _style='color:darkgreen'), 'provide:') + OL('a  description of the destructive sampling,', 'why it is necessary, and', 'where you plan to carry out destructive sampling.') + form.custom.widget.destructive_sampling_info}}
{{else:}}
{{if record.destructive_sampling is False or record.destructive_sampling is None:}}
{{=P('This project has not declared any destructive sampling.')}}
{{else:}}
{{=P('This project will involve the following destructive sampling:') + record.destructive_sampling_info}}
{{pass}}
{{pass}}

{{=H4('Animal research and ethics', _style='background-color: lightgrey; line-height: 40px')}}

{{if record is None or readonly is False:}}
{{=P('If your project involves working with animals you will need to check if ethical approval is needed and confirm that you have obtained approval. Please select all animal groups you plan to work with from the list below:')}}
{{=P(B('List any animal taxa that this project will work with:'))}} 
{{taxa=form.custom.widget.which_animal_taxa}}
{{taxa['_size'] = 3}}
{{=taxa}}
{{=BR()*2 + P(form.custom.widget.ethics_approval_required + B('Will this project require ethics approval to work with animals?'))}}
{{eth=form.custom.widget.ethics_approval_details}}
{{eth['_rows'] = 5}}
{{=P('If your project requires ethics approval, you must provide a summary of the kind of approval needed and who you will need to approach to get approval:') + eth}}
{{else:}}
{{if record.which_animal_taxa is None or len(record.which_animal_taxa) == 0:}}
{{=P('This project has not recorded working with any animal taxa.')}}
{{else:}}
{{=P('This project will work with the following animal taxa: ',  ', '.join(record.which_animal_taxa))}}
{{pass}}
{{if record.ethics_approval_required == 'True':}}
{{=P('The project coordinator has confirmed that ethics approval is required. The reported details of the approval needed and approval plans are:')}}
{{=P(record.ethics_approval_details)}}
{{else:}}
{{=P('The project coordinator has reported that no ethics approval is required.')}}
{{pass}}
{{pass}}

{{=H4('Project resource requirements', _style='background-color: lightgrey; line-height: 40px')}}

{{if record is None or readonly is False:}}
{{=P('Please tell us what resources you will need to carry out your project')}}
{{=form.custom.widget.requires_ra + XML('&nbsp;') * 3 + B('This project will require Research Assistant time') + BR()}}
{{=form.custom.widget.requires_vehicle + XML('&nbsp;') * 3 + B('This project require the use of vehicles to access sites.')+ BR()}}
{{=B('Please provide detail on your RA and vehicle requirements and list any other resources that the project will need:') + DIV(form.custom.widget.resource_notes)}}
{{else:}}
{{if form.custom.widget.requires_ra == 'True':}}
{{=P('This project will require Research Assistant time.')}}
{{else:}}
{{=P('This project will not require Research Assistant time.')}}
{{pass}}
{{if form.custom.widget.requires_vehicle == 'True':}}
{{=P('This project require the use of vehicles to access sites.')}}
{{else:}}
{{=P('This project does not require the use of vehicles to access sites.')}}
{{pass}}
{{if record.resource_notes is not None and record.resource_notes <> '':}}
{{=P('Further resource requirements and notes: ', record.resource_notes)}}
{{pass}}
{{pass}}

{{=H4('Funding and data sharing', _style='background-color: lightgrey; line-height: 40px')}}

{{if record is None or readonly is False:}}
{{=P('The SAFE Project requires that you deposit a copy of any primary field data you collect in the SAFE central database, and to provide metadata for that data.')}}
{{=form.custom.widget.data_sharing + XML('&nbsp;') * 3 + B('Check this box to confirm you agree to provide your data to the SAFE project')+ BR()*2}}
{{=P('It is very important for us to show our funders the extent to which their investment has been leveraged to support work beyond their central donation. If you have a grant to support this work or applying for one, please give details of the grant title, funder, year of award and amount below:')}}
{{=form.custom.widget.funding}}
{{else:}}
{{=P('The project coordinators have agreed to share research data with the SAFE project.')}}
{{if record.funding is not None and record.funding <> '':}}
{{=P('The following funding information has been provided:', record.funding)}}
{{else:}}
{{=P('No funding information has been declared.')}}
{{pass}}
{{pass}}

{{if readonly is False:}}
{{=BR()}}
{{=form.custom.submit}}
{{=form.custom.end}}
{{pass}}

{{if record is not None:}}
{{=H4('Administration status and history', _style='background-color: lightgrey; line-height: 40px')}}
{{=P(B('Admin status: '), approval_icons[record.admin_status], XML('&nbsp;') *2, record.admin_status)}}
{{pass}}

{{if record is not None and record.admin_history is not None:}}
{{=P(B('Admin history: '))}}
{{=XML(record.admin_history.replace('\\n', '<br />'),
        sanitize=True, permitted_tags=['br/'])}}
{{pass}}

<br>

<!-- {{if auth.has_membership('admin'):}}
{{=form.custom.widget.admin_status}}
{{=P(B('Admin notes'))}}
{{admn=form.custom.widget.admin_notes}}
{{#admn['_rows'] = 5}}
{{=admn}}
{{pass}} -->



