{{extend 'layout.html'}}

<!-- Yes, yes, I've redefined css locally, I know that is bad but I'm implementing function -->
<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
</style>



{{=H2('Make decision on blog post')}}

<p>The blog is displayed below and you can approve or reject it using the form at the bottom. Please provide information to the poster about your decision.</p>


<!--Insert a consistently styled back button to return to the grid view-->
{{= A(SPAN(_class="glyphicon glyphicon-arrow-left"),
      SPAN(' Back', _class="buttontext button"),
      _class="button btn btn-default", 
      _href=URL("blog","administer_blogs", user_signature=True),
      _style='padding: 3px 5px 3px 5px;')}}
<br>


{{=TABLE(TR(TD(H3(blog_post.title)), 
	    TD(IMG(_src = URL('default','download', args = blog_post.thumbnail_figure), _height = 100),  _style='text-align:right')),	_width='100%')}}

{{=BR()}}
{{=DIV(TABLE(TR(TD(CAT('', I(blog_post.authors))), TD(blog_post.date_posted, _style='text-align:right')), _width='100%'),_style='background-color: lightgrey; line-height: 40px')}}

{{=P('Posted by: ', blog_post.user_id.first_name, ' ', blog_post.user_id.last_name, 
     _style='text-align:right; color=grey; font-size:smaller')}}

<br>
{{=XML(blog_post.content)}}
<br>


{{=H4('Admin decision', _style='background-color: lightgrey; line-height: 40px')}}

{{=blog_form}}

{{=H4('Admin history', _style='background-color: lightgrey; line-height: 40px')}}

{{if blog_post.admin_history is not None:}}
{{=XML(blog_post.admin_history.replace('\\n', '<br />'),
        sanitize=True, permitted_tags=['br/'])}}
{{pass}}
<br>	