{{extend 'layout.html'}}

<!-- Yes, yes, I've redefined css locally, I know that is bad but I'm implementing function -->

<!--Insert a consistently styled back button to return to the grid view-->
{{= A(SPAN(_class="glyphicon glyphicon-arrow-left"),
      SPAN(' Back', _class="buttontext button"),
      _class="button btn btn-default", 
      _href=URL("blog","blogs", user_signature=True),
      _style='padding: 3px 5px 3px 5px;')}}
<div class="flash">{{=response.flash or session.flash or ' '}}</div>

{{=TABLE(TR(TD(H3(blog_post.title)), 
	    TD(IMG(_src = URL('default','download', args = blog_post.thumbnail_figure), _height = 100),  _style='text-align:right')),	_width='100%')}}

{{=BR()}}
{{=DIV(TABLE(TR(TD(CAT('', I(blog_post.authors))), TD(blog_post.date_posted, _style='text-align:right')), _width='100%'),_style='background-color: lightgrey; line-height: 40px')}}

{{=P('Posted by: ', blog_post.user_id.first_name, ' ', blog_post.user_id.last_name, 
     _style='text-align:right; color=grey; font-size:smaller')}}

<br>
{{=XML(blog_post.content)}}
<br>


<br>	