{{extend 'layout.html'}}

<div class="flash">{{=response.flash or session.flash or ' '}}</div>

{{=H1('Manage blogs')}}

<p>Existing blog posts are shown on the system. Follow the links to create new blogs, edit existing blogs or delete blogs. Note that deleted blogs are not permenantly deleted - they are just not publically visible anymore. Only admin users can delete blogs.</p> 

<p>The owner of the blog is currently not notified when an admin edits or deletes a blog, so do contact them to explain why you've made changes or deleted a blog.</p>

<p>Note that new blogs post will immediately go live on the internet!</p>
<br>

{{=form}}

<br>