{{extend 'layout.html'}}



{{=H1('Manage news posts')}}

<p> Current news posts are shown below. You can use the links to add a new post or edit an existing post. </p>

<p>In the table below, the 'eye' buttons allow you to hide and show news posts from public view. You will always be able to all posts here but you can retire posts without permanently deleting them from the database.</p>

<p> <strong> Remember that your post will immediately go live on the internet!</strong></p>
<br>

{{=form}}

<br>