{{extend 'layout.html'}}

<!-- Yes, yes, I've redefined css locally, I know that is bad but I'm implementing function -->
<style>
hr {display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;}
td {padding: 5px 20px;}
</style>


<div class="flash">{{=response.flash or session.flash or ' '}}</div>

<!-- Add an edit button for admin users -->
{{if(auth.has_membership('admin')):}}
{{= A(SPAN(_class="icon glyphicon glyphicon-edit"),
      SPAN(' Edit news item', _class="buttontext button"),
      _class="button btn btn-default", 
      _href=URL("news","edit_news_post", args=[news_post.id]),
      _style='padding: 3px 5px 3px 5px;')}}
{{pass}}

<!--Insert a consistently styled back button to return to the grid view-->
{{= A(SPAN(_class="glyphicon glyphicon-arrow-left"),
      SPAN(' Back', _class="buttontext button"),
      _class="button btn btn-default", 
      _href=URL("news","news", user_signature=True),
      _style='padding: 3px 5px 3px 5px;')}}

<hr>
{{=TABLE(TR(TD(IMG(_src = URL('default','download', args = news_post.thumbnail_figure), _height = 100),  _style='text-align:right'),
	    TD(H3(news_post.title)), 
	    TD(news_post.date_posted, _style='text-align:right')),
	    _width='100%')}}

<hr>
<br>
{{=XML(news_post.content)}}
<br>
<hr>
{{=P('Posted by: ', news_post.poster_id.first_name, ' ', news_post.poster_id.last_name, 
     _style='text-align:right; color=grey; font-size:smaller')}}


<br>	