{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}



{{=H1('Approvals for newly created or edited outputs')}}

<p>The table below will show links to the details page for any pending outputs. There is an admin decision box at the bottom of the page. The uploader will be automatically emailed your decision, along with any explanation provided in the comments field.</p>

<br>
<!-- Show the outputs table created by the controller -->

{{=outputs}}




<br>