{{extend 'layout.html'}}

<!-- This page is complex as it serves a single URL with two different views 
     1) An editing view for new projects (record is None) or for project coordinators
        to change details (readonly is False)
     2) A static view for seeing the details of proposed projects.

The form details are assembled on the fly using a custom form layout:
    http://web2py.com/books/default/chapter/29/07/forms-and-validators#Custom-forms
-->


<div class="flash">{{=response.flash or session.flash or ' '}}</div>


<!--Page header, depending on the readonly state and whether it is a new project-->

{{=header}}

{{=form}}

{{=projects}}

{{=admin_history}}

{{=admin}}

<br><br>
