{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}


{{=H2('Vacancies at the SAFE Project')}}

<p>This page lists all approved vacancies on research projects working at SAFE. We also show the details of previous vacancies, so you can see the kinds of opportunities that have previously some up at the SAFE Project.</p>

<p>Follow the links to find the contact details for a particular vacancy.</p>

<br>

<!-- Show the volunteers form created by the controller -->
{{=form}}

<br>
