{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}



{{=H1('Post an advert for a project vacancy.')}}

<p>This page provides a form to submit or update an advert for a vacancy on a project. You will <b>only be able to submit a request for projects for which you are registered as a project coordinator.</b> You should give a good description of the work you need doing and any ideas of how the work might fit into an undergraduate research project.</p>

<p>All adverts are checked by an administrator for approval. You will get an email confirming that your request has been submitted and a follow up email when an admin decision has been made.</p>

<p>Once a vacancy has been approved, you will be able to amend the details and resubmit for approval. You will also be able to mark a vacancy as no longer available by using the button at the bottom. This will happen immediately and you can make the position available again by clicking on the button a second time. Visitors to the website will still be able to see vacancies that are no longer available, in order to show the kind of work that comes up at SAFE, but it will be marked as unavailable. </p>


<br>

<!-- Show the volunteers form created by the controller -->
{{=form}}

<br>
{{=admin_history}}
{{=admin}}
