{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}



{{=H1('Post an advert for project help.')}}

<p>This page provides a form to submit an request for help on a project. You will <b>only be able to submit a request for projects for which you are registered as a project coordinator.</b> You should give a good description of the work you need doing and any ideas of how the work might fit into an undergraduate research project.</p>

<p>All requests are checked by an administrator for approval. You will get an email confirming that your request has been submitted and a follow up email when an admin decision has been made.</p>
<br>

<!-- Show the volunteers form created by the controller -->
{{=form}}

<br>