{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}




{{=H1('Volunteer to work at SAFE')}}


<p><b>Many thanks for your interest in volunteering at SAFE</b>.</p>
	
<p>If you would like to do an undergraduate or Masters project at SAFE or are otherwise interested in working on one of the research projects then please enter your research interests and dates available below. We only accept offers with availability during the next 12 months and we do remove offers once they expire. If you want to volunteer in the future, do come back then and post again.</p>
	
<p>All offers are checked by SAFE project administrators: you will get an email to confirm your offer has been submitted and then a confirmation email when your offer has been approved or rejected. All approved offers to help are then visible to everyone registered at the SAFE Project website.</p>

<BR>

<!-- Show the volunteers form created by the controller -->
{{=form}}
