{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}



{{=H2('Volunteers offering to work at SAFE')}}

{{=P('If you have posted an offer and were expecting to find it here, then your post may:')}}

{{=LI('still be awaiting approval by an administrator.')}}
{{=LI('have been rejected, look for notes in your profile.')}}
{{=LI('have expired as it is past the available to date.')}}

<br>
<!-- Show the volunteers form created by the controller -->
{{=form}}
<br>