{{extend 'layout.html'}}



{{=H2('Health and safety records')}}

{{=P('Health and safety information is shown below for a named user - if this user is you, you will be able to provide or update your information!')}}

<ul>
<li>We <strong>will not</strong> approve research work under the SAFE project unless this information is complete for visitors.</li>
<li>You <strong>must</strong> keep your own information up to date and accurate. In an emergency, we will rely on this database to provide you with proper care.</li>
</ul>

{{=form}}
